{% extends "base.html" %}
{% load static %}

{% block 'body' %}
<div class="container mt-5">
    <div class="text-center">
        {% if user.is_authenticated %}
            <h1 class="display-4">Bem-vindo, {{ user.nome_completo|default:user.username }}!</h1>
            <p class="lead">Prepare-se para o seu próximo concurso. Crie um novo simulado ou continue de onde parou.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="#" role="button">Criar Novo Simulado</a>
            <a class="btn btn-secondary btn-lg" href="#" role="button">Ver Histórico</a>
        {% else %}
            <h1 class="display-4">Bem-vindo ao Estudai!</h1>
            <p class="lead">O portal de simulados que vai te ajudar a conquistar a aprovação. Faça seu login ou cadastre-se para começar.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Entrar</a>
            <a class="btn btn-success btn-lg" href="{% url 'registrar' %}" role="button">Registrar</a>
        {% endif %}
    </div>
</div>
{% endblock %}